.image-overflow {
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 100% ;
    background: rgb(194, 194, 194, 0) ;
    transition: .3s ease-out ;
    outline: 2px solid transparent;
    border-radius: 12px;
}

.image-overflow:hover {
    background: rgba(255, 255, 255, 0.4);
}

.image-active {
    background: rgba(255, 255, 255, 0.4) ;
    outline: 3px solid var(--Orange) ;
}

.right-body-wrapper {
    max-width: 420px;
}

.right-body-wrapper > h4 {
    color: var(--Orange);
    font-weight: 700;
    text-transform: uppercase;
}
.right-body-wrapper > h1 {
    font-size: 2.5rem;
    font-weight: 700;
}
.right-body-wrapper > p {
    color:var(--Dark-grayish-blue);
    margin-top: 40px ;
    margin-bottom: 20px;
}
.right-body-wrapper > h3  {
    font-size: 1.4rem;
}
.right-body-wrapper > h3 > .sale-span {
    background-color: #FEF0E3 ;
    border-radius: 8px ;
    padding: 6px 7px ;
    color: var(--Orange); 
    font-size: 16px;
    margin-left: 10px
} 

.right-body-wrapper > h3 > p {
    color: var(--Dark-grayish-blue);
    text-decoration: line-through;
    font-size: 16px;
    text-decoration-color: var(--Dark-grayish-blue);;
}

@media screen and (max-width: 700px){
    .right-body-wrapper br {
        display: none ;
    }
}

