button.hamburger {
  outline: none ;
  border: none ;
  background-color: transparent ;
  position: relative ;
  cursor: pointer ;
  width: 25px ;
  height: 20px ;
  margin: 0 10px ;
  align-self: center ;
}

button.hamburger > span {
  height: 3px ;
  width: 100% ;
  border-radius: 9px ;
  background: black ;
  position: absolute ;
  transition: .3s ease-out ;
  left: 0 ;
}
button.hamburger > span.line1 {
  top: 0px ;
}
button.hamburger > span.line2 {
  top: 9px ;
  transition: 0s ;
}
button.hamburger > span.line3 {
  top: 18px ;
}

button.clicked > span.line2  {
  transition-property: opacity ;
  transition-delay: .4s ;
  opacity: 0 ;
}
button.clicked > span.line1 , button.clicked > span.line3 {
  animation-duration: 1s ;
  animation-fill-mode: both;
  transform-origin: right;

}
button.clicked > span.line1 {
  animation-name: spring ;
}
button.clicked > span.line3 {
  animation-name: spring3 ;
}

@keyframes spring {
  0% {
    top: 0px ;
  }
  50% {
    top: 9px ;
    transform: none ;
  }
  100% {
    transform: rotate(-45deg) ;
  }
}

@keyframes spring3 {
  0% {
    top: 0px ;
  }
  50% {
    top: 9px ;
    transform: none ;
  }
  100% {
    transform: rotate(45deg) ;
  }
}